<section class="location-container">
	<app-my-location class="location-child"></app-my-location>
	<app-host-location class="location-child" [newHostName]="hostname"></app-host-location>
</section>

<section>
	<section class="form-group location-input">
		<input type="text" class="form-control" name="" value="" placeholder="www.website.com or website.com" #inputHostname>
	</section>

	<section>
		<button type="button" class="btn btn-outline-dark">My location</button>
		<button type="button" class="btn btn-outline-dark">Reset location</button>
		<button 
			type="button" 
			class="btn btn-outline-dark"
			(click)="getHostLocation(inputHostname.value)">Locate</button>
	</section>
</section>